<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="METAOPTION.DAL.Properties.Settings.HVMSRapidConnectionString"
      connectionString="Data Source=192.168.10.21;Initial Catalog=HeadStartVMS_24Feb;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>