<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="METAOPTION.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
      <section name="SSOLib.Properties.Settings" type="System.Configuration.ClientSettingsSection, System,Version=2.0.0.0, Culture=neutral,PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <SSOLib.Properties.Settings>
      <setting name="SSOLib_Service_AuthService" serializeAs="String">
        <!--<value>http://localhost/hsscraping/authservice.asmx</value>-->
        <value>http://localhost:61579/WebApp/authservice.asmx</value>
      </setting>
    </SSOLib.Properties.Settings>
  </applicationSettings>
  <appSettings>
    <!--
    <add key="ReportServer" value="http://rhasalesweb01/reportserver"/>
    -->
    <!--<add key="SSO_SITE_URL" value="http://localhost/hsscraping/Authenticate.aspx?ReturnUrl={0}"/>-->
    <add key="SSO_SITE_URL" value="http://localhost:61579/WebApp/Authenticate.aspx?ReturnUrl={0}"/>
    <add key="LOGIN_URL" value="~/Login.aspx"/>
    <add key="DEFAULT_URL" value="~/UI/Default.aspx"/>

    <add key="ReportServer" value="http://192.168.10.21:81/reportserver"/>
    <add key="DBMetaoptionConnection" value="Data Source=192.168.10.21;Initial Catalog=HeadStartVMS_24Feb; Integrated Security=SSPI"/>


    <add key="DBChromeConnection" value="Data Source=sql;Initial Catalog=HeadStartVMS_Chrome_Matt; User ID=headstartvmsusr05live; pwd="/>
    <add key="EmailDomainName" value="metaoption.com"/>
    <add key="ShortDomainName" value="metaoption.com"/>
    <add key="SmtpServer" value="mail.metaoption.com"/>
    <add key="EncryptionKey" value="MetaVMS#"/>
    <add key="EmailFromCCed" value="headstartvms@metaoption.com"/>

    <add key="PeachtreeSecurityCode" value="STRAIGHT-OUT-OF-THE-MARINE-CORPS-ROBERT-HOLLENSHEAD-STARTED"/>
    <add key="PeachtreeTestMode" value="false"/>
    <!---Reporting Services Settings-->
    <add key="rsUserName" value="iliyasa"/>
    <add key="rsPassword" value="option007#"/>
    <add key="rsDomain" value="metaoptionllc"/>
    <add key="BobSecurityUserID" value="13"/>
    <add key="LaneGridPageSize" value="50"/>
    <!-- These are Commission Type Id For Different Buyer Rulings For Commission Calculation  -->
    <add key="COMMISSIONTYPE_FIXED" value="1"/>
    <add key="COMMISSIONTYPE_5050" value="3"/>
    <add key="COMMISSIONTYPE_GROSS" value="4"/>
    <add key="COMMISSIONTYPE_IINDLEVEL5050" value="5"/>
    <add key="COMMISSIONTYPE_NOCOMMISSION" value="6"/>
    <add key="COMMISSIONTYPE_5050SPLIT" value="7"/>
    <!-- MAA SETTINGS  -->
    <add key="CutoffTime" value="16:00:00"/>
    <add key="WebServiceTestMode" value="False"/>
    <add key="CommandTimeOut" value="500"/>

    <add key="MobileImagePath" value="http://web.metaoptionllc.com/hvmsservices3/"/>
    <add key="ExpenseImagePath" value="http://web.metaoptionllc.com/hvmsservices3/"/>
    <add key="GenericImagePath" value="http://web.metaoptionllc.com/hvmsservices3/GenericImages/"/>
    <add key="ImagesPeriod" value="10"/>
    <add key="GoogleAPIKey" value="AIzaSyCDGPfNYQ8WPxyNJ5l80QuuTuXazoS5xdw"/>
    <add key="googlemaps.subgurim.net" value="ABQIAAAAbih9mgRtLRR2CPaN4P3bKBRgEKU78zYYZRzDeuO51l88M4ucDxSqhB-kE6JnHXUEx7tkQbN22N9yAA"/>
    <add key="UCRlinkUrl" value="http://www.universalconditionreport.com/Report/"/>
    <add key="CreateUCRUrl" value="http://www.universalconditionreport.com/cardetail/newcr?"/>
    <add key="DealerCode" value="META1001"/>
    <add key="SecurityCode" value="PASS1234#"/>
    <add key="LegacySystemCode" value="VMS20120323"/>
    <add key="DealerIPAddress" value="192.168.10.18"/>
    <add key="DuplicateInDays" value="30"/>
    <add key="Copyright" value="© 2012 R. Hollenshead Auto Sales, Inc.  All rights reserved."/>
    <add key="ImagesPeriod" value="30"/>
    <add key="aspnet:MaxHttpCollectionKeys" value="10000" />
    <add key="aspnet:MaxJsonDeserializerMembers" value="5000" />
    <!--Set cache expiration for short period and long period -->
    <add key="ShortCacheExpiry" value="10" />
    <add key="LongCacheExpiry" value="60" />
    <!--Set Duplicate Check Period in days -->
    <add key="DuplicateCheckPeriod" value="30000" />
    <add key="DuplicateCheckMessage" value="The Check Number you are using already used on previous payments. Are you sure you want to use this check again? This will not be updated in Accounting System because of duplicate check #." />
    <!--Set Duplicate Expense Period in days & alert message -->
    <add key="DuplicateExpensePeriod" value="30000" />
    <add key="DuplicateExpenseMessage" value="Expense already exist. Do you want to continue?" />
    <!--24 July 2012, Use in send mail to employee for Password Notification-->
    <add key="PasswordCCed" value=""/>
    <add key="mailFrom" value="notification@headstartvms.com"/>
    <!--End-->
    <!--16 Aug 2012, Use in set Date in ViewAllExpense page-->
    <add key="NumberOfDays" value="30"/>
    <!--End-->
    <!--Scanner Settings-->
    <add key="ShowScannerUI" value="True"/>
    <!--Values :  True,False-->
    <add key="AutoFeedEnabled" value="False"/>
    <add key="DuplexEnabled" value="False"/>
    <add key="PixelType" value="1"/>
    <!--Values : 0:BW, 1:GRAY, 2: RGB -->
    <add key="Resolution" value="200"/>
    <!--Values : 100,150,200,300-->
    <!--End-->
    <!--Added by Rupendra 16 Nov 12 for Set max no of rows Export in Excel-->
    <add key="ExportDataCount" value="5000"/>
    <!--End-->
    <!--Enable IP Access Security-->
    <add key="EnableIPSecurity" value="True"/>
    <!--Enable LaneAutomation-->
    <add key="EnableLaneAutomation" value="True"/>
    <add key="HVMSWebLaneNumberingURL" value="/WebLaneNumbering/Home/SessionLogin?SessionID="/>

    <add key="GoogleMapKey" value="AIzaSyDY0kkJiTPVd2U7aTOAwhc9ySH6oHxOIYM"/>
    <!--Add Settings for CDM -->
    <add key="CDMSystemCode" value="HVMS"/>
    <add key="CDMDealerCode" value="Dealer"/>
    <add key="CDMSecurityCode" value="vms12345"/>
    <add key ="ServiceUrl" value="http://192.168.10.31/cdmservice/HSService.svc"/>
    <!--End-->
    <add key="" value=""/>
    <add key="" value=""/>
    <add key="" value=""/>
  </appSettings>
  <connectionStrings>
    <add name="HeadStartVMS_SystemConnectionString3" connectionString="Data Source=192.168.10.21;Initial Catalog=HeadStartVMS_24Feb;UID=sa; Password=option1234#;" providerName="System.Data.SqlClient"/>
    <add name="HeadStartScraping_connectionString" connectionString="Server=192.168.10.21;Initial Catalog=HeadstartScapingSystem;UID=sa; Password=option1234#;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <machineKey validationKey="7EF0DF12E70A8F54A3B9EF019E45B984164A7342B52B81F65CE6E777FF7EFD09208793519BB10A3637B8C210671A9C9A7E9D459CA2E8C492C70535BD966DE970" decryptionKey="9080D94360E31CEECEF2BEBBCDD79FA533AE09900D0980B8" validation="SHA1"/>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="Microsoft.ReportViewer.WebForms, Version=9.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="Microsoft.ReportViewer.Common, Version=9.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.Common, Version=9.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
      </buildProviders>
    </compilation>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <sessionState timeout="120"/>
    <authentication mode="None">
      <!--<forms loginUrl="login.aspx" defaultUrl="UI/default.aspx" name="login" timeout="120" protection="All" path="/">-->
      <!--<credentials passwordFormat="Clear">
          <user name="fareed" password="password"/>
        </credentials>-->
      <!--</forms>-->
    </authentication>
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <!-- Make Mode="off" at the time of deployement to server" -->
    <customErrors mode="Off" defaultRedirect="UI/SystemError.aspx">
    </customErrors>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <add assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" tagPrefix="ajax"/>
        <add assembly="Microsoft.ReportViewer.WebForms, Version=9.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" namespace="Microsoft.Reporting.WebForms" tagPrefix="rpt"/>
        <add tagPrefix="mo" namespace="MetaOption.Web.UI.WebControls" assembly="MetaOption.Web.UI.WebControls"/>
      </controls>
    </pages>
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=9.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" validate="false"/>

    </httpHandlers>
    <httpRuntime maxRequestLength="40000" executionTimeout="275"/>
  </system.web>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <defaultDocument>
      <files>
        <add value="Login.aspx"/>
      </files>
    </defaultDocument>
    <caching>
      <profiles>
        <add extension=".png" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" location="Any" />
        <add extension=".jpg" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" location="Any" />
        <add extension=".gif" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" location="Any" />
      </profiles>
    </caching>

    <!--<staticContent>
      <clientCache cacheControlMode="UseExpires"
         httpExpires="Tue, 19 Jan 2038 03:14:07 GMT" />
    </staticContent>-->
  </system.webServer>

  <applicationSettings>
    <METAOPTION.Properties.Settings>
      <setting name="HeadStartVMS_ManheimAutoAuction_OnlineRegistration_RegisterVehicles"
       serializeAs="String">
        <value>http://www.manheimautoauctiononline3.com/hhead/RegisterVehicles.php</value>
      </setting>
      <setting name="HeadStartVMS_ReportingService_ReportingService"
       serializeAs="String">
        <value>http://sql/ReportServer/ReportService.asmx</value>
      </setting>
      <setting name="HeadStartVMS_AutoFillCustomersService_AutoFillNames"
       serializeAs="String">
        <value>http://localhost:9616/HeadStartVMS/WS/AutoFillCustomers.asmx</value>
      </setting>
      <setting name="HeadStartVMS_PeachtreeService_HeadStartVMSPtree"
       serializeAs="String">
        <value>http://24.229.49.203/HeadStartVMS.asmx</value>
      </setting>
      <setting name="HeadStartVMS_UCR_LinkCRService" serializeAs="String">
        <value>http://www.universalconditionreport.com/ws/LinkCRService.asmx</value>
      </setting>
    </METAOPTION.Properties.Settings>
  </applicationSettings>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="SpecifiedPickupDirectory" from="HeadStartVMS@buybooktech.com">
        <network defaultCredentials="false" host="mail.rhollensheadautosales.com/exchange" password="1234" userName="headstartvms"/>
        <specifiedPickupDirectory pickupDirectoryLocation="W:\Domains\headstartvms.com\mailroot\Pickup"/>
      </smtp>
    </mailSettings>
  </system.net>
</configuration>
