* {
	margin: 0;
	padding: 0;
}
body {
    background:url(../images/bg.jpg) repeat-y scroll center center #E3ECF5;
    color: #000000;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    margin: 0;
    padding: 0;
    text-decoration: none;
}
h1, h2, h3, h4 {
	font-family: Arial, sans-serif;
	color: #444444;
}
a {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
button, .button {
	background: none repeat scroll 0 0 #F3F3F3;
	border: 1px solid #DCDCDC;
	border-radius: 2px 2px 2px 2px;
	color: #444444;
	cursor: pointer;
	display: inline-block;
	font: 700 11px Tahoma, Arial, sans-serif;
	margin-right: 0;
	padding: 3px 7px;
	position: relative;
	text-decoration: none;
	text-shadow: 0 1px 0 #FFFFFF;
}
button:hover, .button:hover {
	border-bottom-color: #999999;
	border-left-color: #999999;
	border-right-color: #999999;
	border-top-color: #999999;
	color: #333333;
	text-decoration: none;
}
.btn{  background: url("../images/btn-bg.png") repeat-x scroll 0 0  #2D5076 ;
    border: medium none;
    border-radius: 4px;
    color: #FFFFFF;
    cursor: pointer;
    height: 28px;
    line-height: 15px;
    padding: 0 10px 4px;border:1px solid #173a61;}
	.btn:hover{ text-decoration:underline; background:url(../images/btn-hover.png) repeat-x #2D5076 ; border:1px solid #173a61;}
.wrap {
	margin: 0 auto;
	width: 990px;
}

#header #top {
	height: 78px;
	padding: 14px 20px 0 20px;
}
#header #top p {
    color: #FFFFFF;
    font-size: 28px;
    padding-top: 23px;
    text-shadow: 0 1px 1px #000000;
}
#header #top a {
	color: #f07e01;
}
#header #top .login-info p{ font-size:14px;}
.nav {

    text-align: center;
	background:url(../images/TopMenuBarNormalBg.gif); background-repeat:repeat-x;
}
.nav ul ul {
    display: none;
}
.nav ul li:hover > ul {
    display: block;
}
.nav ul {
  
    list-style: none outside none;
    padding: 0 1px;
    position: relative;
}
.nav ul:after {
    clear: both;
    content: "";
    display: block;
}
.nav ul li {
    float: left;
	background:url(../images/TopMenuDevider.gif); background-repeat:no-repeat; background-position:center right;
 
	 
}
.nav ul li:hover {
       background:url(../images/TopMenuBarActiveBg.gif); background-repeat:repeat-x;
}
.nav ul li:hover a {
    color: #FFFFFF;
}
.nav ul li a {
  color: #FFFFFF;
    display: block;
    font-size: 15px;
    padding: 9px 40px;
    text-decoration: none;
}
.nav ul ul {
    background: none repeat scroll 0 0 #054B7A;
    border-radius: 0;
    padding: 0;
    position: absolute;
    top: 100%; z-index: 9999;
}
.nav ul ul li {
    border-bottom: 1px solid #D3D3D3;

    float: none;
    position: relative;
}
.nav ul ul li a {
    color: #FFFFFF;
    padding: 7px 40px;
}
.nav ul ul li a:hover {

}
.nav ul ul ul {
    left: 100%;
    position: absolute;
    top: 0;
}

	
#content {
	background: url("../images/contaniner-bg.png") repeat-y scroll 0 0 transparent;
	margin:13px 0 0;
	padding: 10px 15px;
}
#content .b1 {
	background: #ffffff;
}
#content .b2 {
	background: #f7f7f7;
}
#content tr:nth-child(even) {
	background: #ffffff;
}
#content tr:nth-child(odd) {
	background: #f7f7f7;
}
/* CONTENT SIDEBAR START */

#content #sidebar {
	float: left;
	margin: 0 20px 0 0;
	width: 190px;
}
#sidebar a {
	color: #656565;
}
#sidebar .box {
	border: 1px solid #DCDDE1;
	margin: 0 0 12px 0;
}
#sidebar .box .h_title {
	background:url(../images/SystemStat-Heading1.png); background-repeat:repeat-x;
	color: #094F7C;
	cursor: pointer;
	font-size: 13px;
	font-weight: normal;
	height: 22px;
	padding: 7px 0 0 15px;
	
}
#sidebar .box ul {
	list-style: none;
}
#sidebar .box ul li {
	padding: 8px 0 8px 5px;
}

/* CONTENT MAIN START */

#content #main {
	float: right;
	margin: 0 0 12px 0;
	width: 740px;
}
#content #main ul, #content #main ol {
	list-style-position: inside;
	margin: 0 0 0 35px;
}
#main .full_w {
	background: #ffffff;
	border: 1px solid #DCDDE1;
	color: #848484;
	margin: 0 0 20px 0;
}
#main .full_w .h_title, #main .half_w .h_title {
  background:url(../images/tablebg.jpg) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 1px solid #BBDEF1;
    height: 28px;
	color: #535152;
	font-size: 12px;
	font-weight: bold;
	height: 22px;
	padding: 7px 0 0 15px;
	
}
#main .full_w .list {
	list-style: none;
}
#main .full_w h1, #main .full_w h2, #main .full_w h3 {
	margin: 15px 15px 5px 15px;
}
#main .full_w p {
	line-height: 16px;
	margin: 5px 15px;
}
#main .half_w {
	background: #ffffff;
	border: 1px solid #DCDDE1;
	color: #848484;
	margin: 0 0 20px 0;
	width: 330px;
	float: left;
}
#main .half_left {
	margin-right: 10px;
}
#main .half_right {
	margin-left: 4px;
}
/* MAIN TABLE */

/*table{ 
	border-collapse: collapse; 
	margin: 15px; 
	width: 650px; 
}*/
table th {
	background: url(../img/bg_box_head.jpg) repeat-x;
	color: #DACDCD;
	border-left: 1px solid #ffffff;
	border-right: 1px solid #ffffff;
	font-size: 11px;
	font-weight: bold;
	padding: 7px;
	text-shadow: 0px 1px #242424;
}
table tr {
	border-left: 1px solid #ffffff;
	border-right: 1px solid #ffffff;
}
table td {
	border-bottom: 1px solid #ffffff;
	border-top: 1px solid ffffff;
	color: #565656;
	padding: 8px 7px;
}
table tr:hover td {
	/*background: #fff8cf;*/
	color: #000000;
}
/* FOOTER START */

#footer {
	background:#064D7D;
	border-top: 2px solid #404345;
	color: #FFFFFF;
	float: left;
	margin: 0 auto;
	padding:8px 0px;
	text-shadow: #111111 0px 1px 1px;
	width:990px;
}
#footer p {
	color: #fff;
	font-weight: bold;
	padding-left:10px;
}
/* HELPERS START */



.clear {
	clear: both;
}
.left {
	float: left;
}
.right {
	float: right;
}
.align-left {
	text-align: left;
}
.align-right {
	text-align: right;
}
.align-center {
	text-align: center;
}
